mixin postNavigation(prevArticle, nextArticle)
    - var prevUrl = prevArticle && prevArticle.url ? prevArticle.url : '/';
    - var nextUrl = nextArticle && nextArticle.url ? nextArticle.url : '/';
    - var prevTitle = prevArticle && prevArticle.title ? prevArticle.title : 'Voriger';
    - var nextTitle = nextArticle && nextArticle.title ? nextArticle.title : 'Nächster';
    div.pagination
        ul
            li.next
                a(href="#{nextUrl}" title="#{nextTitle}")
                    span.nextTitle #{nextTitle}
                    span.nextWord Nächster
                    span &rarr;&nbsp;
            li.prev
                a(href="#{prevUrl}" title="#{prevTitle}")
                    span &larr;&nbsp;
                    span.prevWord Voriger
                    span.prevTitle #{prevTitle}