
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  - var articles = env.helpers.getArticles(contents);
  - var articlesTitles = _.map(articles, function(value, key, list) {
  -       return value.metadata.title;
  - });
  - var thisPageIndex = articlesTitles.indexOf(page.title);
  - var prevArticle = articles[thisPageIndex+1];
  - var nextArticle = articles[thisPageIndex-1];
  mixin postNavigation(prevArticle, nextArticle)
  include author
  h1= page.title
  if page.metadata.author
    p.author
      | #{ "Written by " }
      mixin author(page.metadata.author)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    mixin postNavigation(prevArticle, nextArticle)
    a(href=contents.index.url) « Full blog