extends layout

block content
  include author
  div#articles
    each article in articles
      article.article.intro
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        d.image
          figure
            img(src=article.metadata.imageUrl alt=article.title)
        section.content
          h2
            a(href=article.url)= article.title
          if article.intro.length > 0
            | !{ typogr(article.intro).typogrify() }
          if article.hasMore
            p.more
              a(href=article.url) Weiterlesen

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url rel='prev' id='prev') « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url rel='next' id='next') Next page »



