extends layout

mixin img(url, alt)
  block variables
    - var ext = "."+url.split('.').pop()
    - var base = url.slice(0, -(ext.length))
    - var large = base+"-large"+ext
    - var medium = base+"-medium"+ext
    - var small = base+"-small"+ext
  img(src=small alt=alt srcset="#{small} 320w, #{medium} 640w, #{large} 1024w" sizes="(min-width: 600px) 50vw, 100vw")

block content
  div#articles
    each article in articles
      article.article.intro
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        div.image
          figure
            mixin img(article.metadata.imageUrl, article.title)
        section.content
          h2
            a(href=article.url)= article.title
          if article.intro.length > 0
            | !{ typogr(article.intro).typogrify() }
          if article.hasMore
            p.more
              a(href=article.url) Weiterlesen

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url rel='prev' id='prev') « Newer
    if nextPage
      a(href=nextPage.url rel='next' id='next') Next page »



