include postNavigation

doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)

      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700')
      link(rel='stylesheet', href='/compiled/css/main.css')
      script(type="text/javascript" src="/compiled/js/site.js")
  body(class=bodyclass)
    div.background
      div.overlay
    header.header
      nav.nav
        h2.entry
          a(href="/about.html") About
        h2.entry
          a(href="/#articles") Blog
      div.logo.connected
        h1
          a(href=locals.url)= locals.name
      block header
        div.description.connected.bubble= locals.description
    block content
    footer
      block footer
        section.about
          div.me
            p Canned Nerd wird geschrieben und veröffentlicht von halfdane.
            p Mein Name ist halfdane und meine E-Mail-Adresse ist &lt;name>@gmx.net.
            p
              a(href="/about.html") Weitere Informationen
              |.
          div.contents
            p Ohne weitere Absprachen können alle Inhalte von diesen Seiten von dir für nichtkommerzielle Zwecke genutzt werden, solange du nicht so tust, als wärst du der Urheber
              |(
              a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/") Creative Commons Lizenz
              |).
          div.sources
            p Alle meine Quelltexte dürfen studiert, benutzt  und weitergegeben werden, solange die Benutzer des abgeleiteten Werks dieselben Rechte behalten
              |(
              a(href="http://www.gnu.de/documents/gpl.de.html") General Public License v.3
              |).

  section.copy
          p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
            a(href='https://github.com/jnordberg/wintersmith') Wintersmith

  if (locals.lifereload)
    script(src="//localhost:35729/livereload.js")