mixin postNavigation(prevArticle, nextArticle)
    nav.pagination
        if prevArticle
            div.prev
                a(href="#{prevArticle.url}" title="#{prevArticle.title}") #{prevArticle.title}&nbsp;&rarr;
        if nextArticle
            div.next
                a(href="#{nextArticle.url}" title="#{nextArticle.title}") &larr;&nbsp;#{nextArticle.title}
