mixin postNavigation(prevArticle, nextArticle)
    div.pagination
        if prevArticle
            div.prev
                a(href="#{prevArticle.url}" title="#{prevArticle.title}")
                    span.prevTitle #{prevArticle.title}&nbsp;&rarr;
        if nextArticle
            div.next
                a(href="#{nextArticle.url}" title="#{nextArticle.title}")
                    span.nextTitle &larr;&nbsp;#{nextArticle.title}
